@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

.title-bolder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}